@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=DM+Sans:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-accent: var(--accent);
  --color-alt-accent: var(--alt-accent);
  --color-text: var(--text);
  --color-bg: var(--bg);
  --color-border: var(--border);
}

:root {
  --text: #171717;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #e8ff3b;
  --alt-accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'DM Sans', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'DM Sans', system-ui, 'Segoe UI', Roboto, sans-serif;
  --nav: 'Inter', system-ui, 'Segoe UI', Roboto, sans-serif;
  --logo: 'DM Sans', system-ui, sans-serif;

  font-family: var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f9f9f9;
  background-image: radial-gradient(circle, #cdcdcd 1px, transparent 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
